body
  background: #FFF
  line-height: 1.4
  font-size: $fz
  overflow-x: hidden
  +reg
  color: $c-text
  // +no-scroll

input, textarea
  font-family: inherit
  +placeholder
    font-family: inherit

.is-center
  text-align: center

.icon
  display: inline-block
  fill: currentColor
  font-size: inherit

.out
  width: 1300px
  margin-left: auto
  margin-right: auto

.container
  width: 1110px
  margin-left: auto
  margin-right: auto
  &--md
    width: 960px
    margin-left: auto
    margin-right: auto

.bg
  +cover
  background-position: 50% 0%
  position: fixed
  height: 100%
  width: 1920px
  left: 0
  top: 0
  z-index: -1

.content
  $this: &
  width: 1200px
  margin-left: auto
  margin-right: auto
  background-color: rgba(#fff, .7)  
  border-radius: 10px
  margin-top: -30px
  margin-bottom: 50px
  padding-top: 30px
  padding-bottom: 30px
  z-index: 2
  position: relative
  overflow: hidden

  &__inner
    background-color: #f5f5f5
    padding-left: 15px
    padding-right: 15px
  &__top
    padding-left: 15px
    padding-right: 15px
  &__middle
    margin-bottom: 15px

  &--gray
    #{$this}__inner
      background-color: #eee


.hr, hr
  background-color: #d5d5d5
  border: 0
  margin: 0
  height: 6px
  margin-bottom: 20px

.btn
  color: #fff
  display: inline-block
  text-align: center
  text-transform: uppercase
  background-color: #c91426
  padding: 7px 14px
  +tr(box-shadow .3s, opacity .4s, color .3s, background-color .3s)
  font-size: 12px
  cursor: pointer
  +hover
    box-shadow: 0 0 5px #000

  &--gray
    text-transform: none
    font-weight: 700
    border-radius: 3px
    background-color: #6e6d70
    +hover
      box-shadow: none
      background-color: #036
  &--white
    background-color: #fff
    opacity: .8
    color: #000
    font-size: 16px
    font-weight: 700
    border-radius: 3px
    text-transform: none
    +hover
      opacity: 1

  &--default
    border: 1px solid darkgray
    background-color: transparent
    text-transform: none
    padding: 2px
    font-size: 16px
    font-weight: 400
    // color: #000
    color: buttontext
    // background-color: #e0e0e0
    -webkit-appearance: push-button
    background-color: buttonface
    border-radius: 2px
    cursor: default
    +hover
      box-shadow: none
      border-color: gray
    &:active
      border-style: inset
  &--lg
    background-color: #e7e7ed
    border: 3px solid  #9f9da9
    color: #5e5d5d
    min-width: 245px
    // font-weight: 700
    font-size: 18px
    position: relative
    z-index: 1
    +hover
      box-shadow: none
      color: #fff
      background-color: #9f9da9
    &__wrap
      position: relative
      text-align: center
      +before
        background-color: #9f9da9
        height: 3px
        width: 100%
        top: 50%
        transform: translate(0, -50%)
        left: 0
        position: absolute
        z-index: 0

  &--sm
    padding-top: 2px
    padding-bottom: 2px


.news
  // font-size: 0
  &__inner
    +flex()
  &__item
    display: block
    font-size: 12px
    max-width: 650px
    text-align: left
    +hover
      // strong
      //   &::before
      //     transform: translate(3px, 0)
    .h3, h3
      text-align: left
      margin-bottom: 5px
    +clr
    img
      float: left
      margin-right: 10px
      margin-right: 10px
    p
      margin-bottom: 20px
    strong
      text-transform: uppercase
      font-weight: 700
      color: #036
      display: inline-block
      margin-left: 30px
      position: relative
      padding-left: 20px
      position: relative
      +before
        content: '›'
        color: #fff
        font-size: 11px
        background-color: #ccc
        height: 15px
        width: 15px
        line-height: 12px
        text-align: center
        display: inline-block
        border-radius: 50%
        vertical-align: middle
        position: relative
        position: absolute
        left: 0
        top: 0


.breadcrumbs
  font-weight: 700
  font-size: 12px
  
  margin-bottom: 25px
  padding-top: 7px
  li
    display: inline-block
    +notlast
      margin-right: 5px
  a
    +tr(color .3s)
    +hover
      color: #555
  .is-active
    pointer-events: none

.section
  background-color: #eee
  &__title
    text-align: left
    .h2, h2
      text-align: left
    border-bottom: 3px solid #c2c2c2

  &--content
    background-color: #f5f5f5

.descr-color
  margin-top: 15px
  font-size: 13px
  padding: 15px 30px 50px 8px
  background-color: #eaeaea
  margin-bottom: 12px
  +cover
  border: 1px solid  #fff
  p
    +notlast
      margin-bottom: 15px
  strong
  .is-blue
    color: #003366

.tour-descr
  background-color: #f9f9fa
  border: 1px solid rgba(#000, .1)
  border-top: 0
  color: #003366
  font-size: 15px
  text-align: center
  padding-bottom: 10px
  &__top
    +image('01-01-line menu2.png')
    background-repeat: no-repeat
    height: 95px
    margin-bottom: 20px
    +flex(center, center, column)
  &__text
    font-style: italic
    font-size: 13px
    font-weight: 700

.meta-item
  margin-bottom: 30px
  &__title
    +verdana
    font-weight: 700
    color: #888
  &__text
    font-size: 13px
  li
    position: relative
    &::before
      content: '✔'
      display: inline-block
      margin-right: 3px

.form
  &__field
    margin-bottom: 5px
  &__btns
    a
      &:last-child
        font-size: 12px
        +tr(color .3s)
        +hover
          color: #555

.textarea
  label
    margin-bottom: 5px
  textarea
    width: 300px
    padding: 2px 5px

.input
  label
    display: block
    // margin-bottom: 5px
  input
    height: 26px
    width: 200px
    padding: 2px 5px
    border: initial
    border: 1px solid  #a9a9aa

.hotels
  // +flex()
  font-size: 0
  text-align: center
  padding-top: 10px
  padding-bottom: 10px

.hotel-item
  display: inline-block
  vertical-align: top
  border: 1px solid  #c7c7c8

.map
  padding-top: 20px
  h3, .h3
    margin-bottom: 0
  a
    font-weight: 700

.banner
  text-align: center
  padding-top: 30px

.descr-block
  background-color: #f9f9fa
  width: 100%
  border: 1px solid  #e0e0e1
  border-top: 0
  padding: 0
  &__title
    padding-top: 9px
    padding-bottom: 9px
    text-align: center
    border-bottom: 1px solid  #e0e0e1
    h3, .h3
      margin-bottom: 0
    +notfirst
      border-top: 1px solid  #e0e0e1
  &__content
    padding-top: 10px
    padding-bottom: 10px
    font-size: 13px
    color: #333333
    padding-left: 10px
    padding-right: 20px
    p
      +notlast
        // margin-bottom: 20px
    ul
      list-style-type: square
      margin-left: 15px
    li
      position: relative
      margin-bottom: 3px
  &__link
    text-align: center
    color: #036
    font-weight: 700
    text-align: center
    margin-bottom: 20px
    display: inline-block
    +before
      content: '→'
      font-size: 1.5em
      display: inline-block
      margin-right: 10px

.hotel-info
  margin-bottom: 20px
  a, strong
    color: #111
    font-weight: 700
    +tr(color .3s)
    +hover
      color: #555
  &__title
    font-size: 13px
    font-weight: 700
    color: #036
