strong
  font-weight: 700
  // +bold

small
  font-size: inherit

em, i
  // font-style: normal

h1, h2, h3, h4, h5, h6
  font-weight: 400

.h1, h1

.h2, h2
  font-size: 24px
  +roman
  color: #003366
  text-align: center
  &--md
    font-size: 18px
    +reg
    color: #808080  
  &--white
    color: #fff
  &--blue
    +reg
    color: #036
    font-weight: 700
  &--ttn
    text-transform: none

.h3, h3
  font-size: 16px
  text-transform: uppercase
  +verdana
  font-weight: 700
  text-align: center
  margin-bottom: 10px
  &--lg
    font-size: 21px
    +reg
    font-weight: 700
  &--md
    text-transform: none
    font-weight: 400
    font-size: 15px
  &--white
    color: #fff
  &--gray
    color: #808080
  &--ttn
    text-transform: none
  &--blue
    color: #036
    +reg

.h4, h4
  font-size: 13px
  text-transform: uppercase
  color: #808080
  +verdana
  font-weight: 700px
  &--blue
    color: #036
    +reg
  &--ttn
    text-transform: none
  &--lg
    font-size: 14px

.h5, h5

.h6, h6

.text
  &--italic, i
    font-size: 12px
    font-style: italic
    color: #003366
    font-weight: 700
  &--center
    text-align: center
