strong
  font-weight: 700
  // +bold

small
  font-size: inherit

em, i
  font-style: normal

h1, h2, h3, h4, h5, h6
  font-weight: 400

.h1, h1

.h2, h2
  font-size: 24px
  +roman
  color: #003366
  text-align: center

.h3, h3
  // font-size: 24px
  // +georgia
  // color: #003366
  // text-align: center
.h4, h4

.h5, h5

.h6, h6
