{%set
features = [
  {
    img: '01-LOGO-01.jpg',
    tooltip: 'Самое популярное направление за неделю: Нормандия',
    text: 'куда угодно'
  },
  {
    img: '01-LOGO-02.jpg',
    tooltip: 'Самый лучший отель за неделю: Myfair 4*',
    text: 'надежно'
  },
  {
    img: '01-LOGO-03.jpg',
    tooltip: 'Количество забронированных за неделю: 5-ть горнолыжных FIT туров',
    text: 'вовремя'
  }
]
%}

<!-- begin features -->
  <div class="container--md">
    <div class="features">
    <div class="features__hr"></div>
    {% for i in features %}
    <div class="feature">
      <div class="feature__icon">
        <img src="img/{{ i.img }}" alt="">
      </div>

      <div class="feature__content">
        <div class="feature__title">100%</div>
        <div class="feature__text">{{ i.text }}</div>
      </div>
      

      <div class="feature__tooltip">{{ i.tooltip }}</div>
    </div>
    {% endfor %}
    <div class="features__hr"></div>
  </div>
</div>
<!-- end features -->