<!-- begin footer -->
<footer class="footer">
  <div class="footer__contacts">
    <div class="footer__contacts-block">
      <h4 class="h4">НАШИ КОНТАКТЫ:</h4>
      <p>34, ул. Рейтарская, г.Киев, </p>
      <p>+380 044 223 1015</p>
      <p>+380 044 223 1014</p>
      <p>ПН-ПТ: 09.30 - 18.30 СБ-ВС: Выходной</p>
    </div>

    <div class="footer__contacts-block">
      <h4 class="h4">МЫ В СОЦ-СЕТЯХ:</h4>

      <p><a href="https://www.facebook.com/VGS0442231015/" title="facebook" target="_blank"><img src="img/01-f.png" width="64" height="64"></a><a href="https://vk.com/club82827207" title="vk" target="_blank"><img src="img/01-vk.png" width="64" height="64"></a></p>
    </div>
  </div>

  <div class="footer__map">
    <iframe width="500" height="200" style="border: 0px; display: block; margin-left: auto; margin-right: auto;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2540.2924665279493!2d30.5086711!3d50.4542783!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce5dad357eb1%3A0x9e9428d76f2adddc!2z0LLRg9C7LiDQoNC10LnRgtCw0YDRgdGM0LrQsCwgMzQsINCa0LjRl9CyLCDQo9C60YDQsNC40L3QsA!5e0!3m2!1sru!2s!4v1440343392838" frameborder="0" allowfullscreen=""></iframe>
  </div>

  <div class="footer__bottom">
    <div class="footer__copy">
      <a href="/" class="copy">Туры во Францию - Туроператор VGS. Copyright &copy; Все права защищены.</a>
    </div>

    <div class="footer__liveinternet">
      <!--LiveInternet counter-->
<script type="text/javascript">// <![CDATA[
document.write("<a href='//www.liveinternet.ru/click' "+
  "target=_blank><img src='//counter.yadro.ru/hit?t44.1;r"+
  escape(document.referrer)+((typeof(screen)=="undefined")?"":
    ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
      screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
  ";"+Math.random()+
  "' alt='' title='LiveInternet' "+
  "border='0' width='31' height='31'><\/a>")
  // ]]></script>
  
  <!--/LiveInternet-->
</div>
  </div>

  
</footer>
<!-- end footer -->