<!-- begin header -->
<header class="header">
  <div class="header__logo">
    <a href="/" class="logo">
      <img src="img/01-vgs-logo.png" alt="" width="170" height="64">
    </a>
  </div>

  <div class="header__title">Bienvenue en Ukraine</div>

  <div class="header__courses">
    <!-- begin courses -->
    <div class="courses">
      Курс валют на 18.06.2019
      <div class="courses__item">
        <img src="img/01-usd.png" alt="" width="16" height="11">
        <strong>USD: 27.62</strong>
      </div>
      <div class="courses__item">
        <img src="img/01-eur.png" alt="" width="16" height="11">
        <strong>EUR: 30.92</strong>
      </div>
    </div>
    <!-- end courses -->
  </div>
</header>
<!-- end header -->