<!-- begin hero -->
<div class="hero">
  <div class="hero__nav js-nav">
    <div class="nav">
      <ul>
        <li><a href="http://vgs-company.com/"><span>Главная</span></a></li>
        <li class=""><a href="http://vgs-company.com/auxpage_tury/"><span>ТУРЫ</span></a>
          <ul>
            <li><a href="http://vgs-company.com/auxpage_ekskursionnye-tury/"><span>Экскурсионные</span></a></li>
            <li><a href="http://vgs-company.com/auxpage_pljazhnye-tury/"><span>Пляжные</span></a></li>
            <li><a href="http://vgs-company.com/auxpage_gornolyzhnye-tury/"><span>Горнолыжные</span></a></li>
            <li><a href="http://vgs-company.com/auxpage_spa-i-talasso-tury/"><span>Спа и талассо туры</span></a></li>
            <li><a href="http://vgs-company.com/auxpage_otdyh-s-detmi/"><span>Отдых с детьми</span></a></li>
            <li><a href="http://vgs-company.com/auxpage_shopping-tury/"><span>Шоппинг туры</span></a></li>
            <li><a href="http://vgs-company.com/auxpage_sobytijnye-tury-/"><span>Событийные туры </span></a></li>
          </ul>
        </li>
        <li class=""><a href="http://vgs-company.com/auxpage_prozhivanie/"><span>Проживание</span></a>
          <ul>
            <li><a href="http://vgs-company.com/auxpage_oteli/"><span>Отели</span></a></li>
            <li><a href="http://vgs-company.com/auxpage_oteli-zamki"><span>Отели-замки</span></a></li>
            <li><a href="http://vgs-company.com/auxpage_rezidencii/"><span>Резиденции</span></a></li>
            <li><a href="http://vgs-company.com/auxpage_shale/"><span>Шале</span></a></li>
            <li><a href="http://vgs-company.com/auxpage_villy/"><span>Виллы</span></a></li>
          </ul>
        </li>
        <li class=""><a href="http://vgs-company.com/auxpage_uslugi/"><span>Прайсы</span></a>
          <ul>
            <li><a href="http://vgs-company.com/auxpage_ekskursii/"><span>Экскурсии</span></a></li>
            <li><a href="http://vgs-company.com/auxpage_transfery/"><span>Трансферы</span></a></li>
            <li><a href="http://vgs-company.com/auxpage_restorany/"><span>Рестораны</span></a></li>
            <li><a href="http://vgs-company.com/auxpage_kabare/"><span>Кабаре</span></a></li>
            <li><a href=""><span>Мастер классы</span></a></li>
            <li><a href="http://vgs-company.com/auxpage_neobychnoe/"><span>Необычное</span></a></li>
            <li><a href="http://vgs-company.com/auxpage_podarochnyj-sertifikat/"><span>Подарочные сертификаты</span></a></li>
            <li><a href="http://vgs-company.com/auxpage_avia-zhd-bilety/"><span>АВИА – ЖД – билеты</span></a></li>
            <li><a href="http://vgs-company.com/auxpage_viza/"><span>Виза</span></a></li>
          </ul>
        </li>
        <li class=""><a href="http://vgs-company.com/auxpage_mice/"><span>MICE</span></a>
          <ul>
            <li><a href="http://vgs-company.com/auxpage_vystavki/"><span>Выставки</span></a></li>
            <li><a href="http://vgs-company.com/auxpage_konferencii/"><span>Конфренции</span></a></li>
            <li><a href="http://vgs-company.com/auxpage_insentiv-idei/"><span>Инсентив идеи</span></a></li>
            <li><a href="http://vgs-company.com/auxpage_organizacija-svadeb-vo-francii/"><span>Организация свадьбы</span></a></li>
          </ul>
        </li>
        <li class=""><a href="http://vgs-company.com/auxpage_akcii/"><span>Акции</span></a>
          <ul>
            <li><a href="http://vgs-company.com/auxpage_rannee-bronirovanie/"><span>Ранее бронирование</span></a></li>
            <li><a href="http://vgs-company.com/auxpage_postojannym-klientam/"><span>Постоянным клиентам</span></a></li>
            <li><a href="http://vgs-company.com/auxpage_akcija-besplatnye-nochi-v-parizhe-/"><span>Бесплатные ночи</span></a></li>
          </ul>
        </li>
        <li class=""><a href="http://vgs-company.com/auxpage_agenstvam/"><span>Агентствам</span></a>
          <ul>
            <li><a href="http://vgs-company.com/auth/"><span>Вход для агентов</span></a></li>
            <li><a href="http://vgs-company.com/auxpage_reklamnye-tury/"><span>Рекламные туры</span></a></li>
            <li><a href="http://vgs-company.com/auxpage_seminary/"><span>Семинары</span></a></li>
            <li><a href="http://vgs-company.com/auxpage_preimushestva-sotrudnichestva/"><span>Преимущества</span></a></li>
          </ul>
        </li>
        <li><a href="http://vgs-company.blogspot.com/" target="_blank" ><span>Блог</span></a></li>
        <li class=""><a href="http://vgs-company.com/auxpage_o-nas/"><span>О нас</span></a>
          <ul>
            <li><a href="http://vgs-company.com/auxpage_kontakty/"><span>Контакты</span></a></li>
            <li><a href="http://vgs-company.com/auxpage_post-relizy/"><span>Пост–релизы</span></a></li>
            <li><a href="http://vgs-company.com/blog/"><span>Новости</span></a></li>
            <li><a href="http://vgs-company.com/auxpage_portfolio/"><span>Портфолио</span></a></li>
            <li><a href="http://vgs-company.com/auxpage_video/"><span>Видео</span></a></li>

          </ul>
        </li>
      </ul>
    </div>

  </div>

  {% if heroSlider %}

  <div class="hero__slider">
    <!-- begin slider -->
    <div class="slider__wrap slider--hero__wrap">
      <div class="slider slider--hero js-slider" data-slider="hero">
        {% for i in range(0, 10) %}
        <!-- begin slide -->
        <a href="#" class="slide">
          <div class="slide__img" style="background-image: url('img/menu-{{ i + 1 }}.jpg');"></div>
        </a>
        <!-- end slide -->
        {% endfor %}
      </div>

      {% include "partials/_popup-hero-slider.html" %}
      
      <button class="slider__autoplay js-autoplay is-playing"></button>
      <button class="slider__fullscreen js-fullscreen js-popup-open" data-popup-target="hero_slider"></button>
      <button class="slider__prev js-prev"></button>
      <button class="slider__next js-next"></button>
    </div>
    <!-- end slider -->
  </div>
  {% endif %}
</div>
<!-- end hero -->