<!-- begin content__top -->
<div class="content__top">
  <h2 class="h2">«БРОНИРУЕМ ГОРЫ»</h2>

  <hr class="hr">
  <!-- begin items -->
  <div class="items items--three">
    {% for i in range(0, 3) %}
    <!-- begin item -->
    <div class="item item--three">
      <div class="item__title">Лез Арк 2000</div>
      <div class="item__img" style="background-image: url('img/z-483{{ i + 1 }}.png');"></div>
      <div class="item__cover">
        <div class="item__cover-title">РОЖДЕСТВО В АЛЬПАХ!</div>

        <div class="item__cover-text">Лучшая горнолыжная станция с гарантированным катанием - Валь Торанс не оставит равнодушным самых избалованных туристов!</div>

        <div class="item__cover-btn">
          {{ mixins.btn(
            title = 'ОТ 3332 ЕВРО ЗА НЕДЕЛЮ',
            mod = ''
          ) }}
        </div>
      </div>
    </div>
    <!-- end item -->
    {% endfor %}
  </div>
  <!-- end items -->
</div>
<!-- end content__top -->