<!-- begin news -->
<div class="news">
  <div class="container--md">
    <div class="news__inner">
      <a href="#" class="news__item">
        {# <span class="news-item__title"> #}
          <h3 class="h3">наши новости</h3>
        {# </span> #}
        <img src="img/news/1.jpg">
        <h3 class="h3 h3--blue h3--ttn">Lorem ipsum dolor.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ut perferendis, modi similique illum quis consequuntur atque, commodi unde ipsam cupiditate eligendi minima laboriosam odio reprehenderit voluptates dolor, accusantium ducimus.</p>
        <strong>читать далее</strong>
      </a>

      <a href="#" class="news__item">
        {# <span class="news-item__title"> #}
          <h3 class="h3">наше видео</h3>
        {# </span> #}
        <img src="img/news/2.jpg">
      </a>
    </div>
  </div>
</div>
<!-- end news -->