<!-- begin news -->
<div class="news">
  <div class="container--md">
    <div class="news__inner">
      <a href="#" class="news__item">
        <img src="img/news/z-4836.png" width="652" height="238" onmouseout="this.src='img/news/z-4836.png';" onmouseover="this.src='img/news/z-4837.png';">
      </a>

      <a href="#" class="news__item">
        <img src="img/news/z-4751.png" width="316" height="238" onmouseout="this.src='img/news/z-4751.png';" onmouseover="this.src='img/news/z-4752.png';">
      </a>
    </div>
  </div>
</div>
<!-- end news -->