<!-- begin section -->
<section class="section section--content">
  <div class="section__title">
    <h2 class="h2 h2--md">ГРУППОВЫЕ ЭКСКУРСИИ ПО ПАРИЖУ И РЕГИОНАМ</h2>
  </div>

  <!-- begin table -->
  <div class="table">
    <div class="text--italic text--center">
      <p>(Стоимости нетто/c человека/в мини-группе/русскоязычный гид)</p>
      <p>Входные билеты включены в стоимость!</p>
    </div>

    <table border="1" cellspacing="0" cellpadding="0" align="center" style="border: 1px solid #ffffff; width: 800px; background-color: #eaeaea;">
        <tr>
          <td width="218">
            <p><b>Обзорная экскурсия по Парижу</b></p>
            <p><b><img src="http://vgs-company.com/published/publicdata/A1475891/attachments/SC/images/135-0735o.png" width="150" height="120" /></b></p>
          </td>
          <td valign="bottom" style="width: 150px;">
            <p><span style="color: #003366;"><strong>В  мини группе: Вт (11.00), Чт, Сб с 09.00</strong></span><br /><span style="color: #003366;"><strong> Продолжительность: 3 часа</strong></span><br /> Экскурсия проводится на мини-автобусе. <br /> Начало экскурсии от отеля в Париже. Возвращение в отель. В стоимость включено водитель-гид или водитель и гид. <br /> Остановки для фото не предусмотрены.</p>
          </td>
          <td width="139" nowrap="nowrap" valign="bottom" style="text-align: center;">
            <strong>53,00 €</strong>
            <p style="text-align: center;"></p>
            <p>
              {{ mixins.btn(
              title = 'купить',
              mod = 'btn--gray btn--sm'
            ) }}
            </p>
          </td>
        </tr>
        <tr>
          <td width="218">
            <p><b>Обзорная экскурсия по Парижу + Монмартр  (4 часа)</b></p>
            <p><b><img src="http://vgs-company.com/published/publicdata/A1475891/attachments/SC/images/136-01.png" width="150" height="120" /> </b></p>
          </td>
          <td width="352" valign="bottom">
            <p><strong><span style="color: #003366;">Сб. 09.00</span></strong></p>
            <p>Начало экскурсии от отеля в Париже. В течении первой части экскурсии Вы посетите все достопримечательности Парижа</p>
            <p>Так же Вы подниметесь на самую высокую точку Парижа Монмартр, где сможете полюбоваться на Париж с высоты 130 метров над уровнем моря.<br /> Экскурсия заканчивается в отеле.</p>
          </td>
          <td width="139" nowrap="nowrap" valign="bottom">
            <p style="text-align: center;"><strong>70,00 €</strong></p>
              <p style="text-align: center;">
                {{ mixins.btn(
              title = 'купить',
              mod = 'btn--gray btn--sm'
            ) }}
              </p>
            </td>
        </tr>
        <tr>
          <td width="218">
            <p><b>Обзорная экскурсия по Парижу + прогулка на кораблике  (4 часа, билеты на кораблик в стоимости) </b></p>
            <p><b><img src="http://vgs-company.com/published/publicdata/A1475891/attachments/SC/images/z-4850.jpg" width="150" height="120" /></b></p>
          </td>
          <td width="352" valign="bottom">
            <p><span style="color: #003366;"><strong>Вт – 11.00, Чт – 09.00</strong></span> <br /> Начало экскурсии от  отеля. В первой части экскурсии – осмотр основных достопримечательностей Парижа. В конце экскурсии Вас привезут на причал, где Вы подниметесь на кораблик и с помощью аудио гида на русском языке посмотреть на Париж с палубы речного кораблика.<br /> Экскурсия заканчивается на причале.</p>
          </td>
          <td width="139" nowrap="nowrap" valign="bottom" style="text-align: center;">
            <p><strong>70,00 €</strong></p>
            <p style="text-align: center;">
              {{ mixins.btn(
              title = 'купить',
              mod = 'btn--gray btn--sm'
            ) }}
          </p>
          </td>
        </tr>
    </table>

  </div>
  <!-- end table -->
</section>
<!-- end section -->