{%set
items = [
  {
    img: 'z-4724.png',
    title: 'Уик-энд в Париже'
  },
  {
    img: 'z-4773.png',
    title: 'Уик-энд в Париже'
    
  },
  {
    img: 'z-4781.png',
    title: 'Париж + Лазурный берег'
    
  },
  {
    img: 'z-4774.png',
    title: 'Париж + Замки Луары'
    
  },
  {
    img: 'z-4775.png',
    title: 'Париж + Нормандия'
    
  },
  {
    img: '01-img-3.png',
    title: 'Блиц Ницца'
    
  },
  {
    img: 'z-4744.png',
    title: 'Неизвестная Страна Басков'
  },
  {
    img: 'z-4748.png',
    title: 'Гастрономический тур в регион Бордо'
  }
]
%}

<!-- begin section -->
<section class="section">
  <div class="section__title">
    <h2 class="h2 h2--md">ЭКСКУРСИОННЫЕ ТУРЫ</h2>
  </div>

  <!-- begin descr-color -->
  <div class="descr-color" style="background-image: url('img/22.png');">
    <p><strong class="is-blue">Франция</strong> – страна, которая просто создана для любви и романтики! Экскурсии во Франции дарят уникальную возможность увидеть достопримечательности, известные на весь мир. Отзывы путешественников, которым посчастливилось побывать в этой солнечной стране, можно свести к одной фразе – «Это незабываемо!».</p>

    <p>Почему экскурсии во Франции пользуются популярностью круглый год? <strong>Каждый сезон готовит путешественникам много нового и удивительного</strong>, ведь самая романтичная страна в мире прекрасна в любое время! Весной туристов ждут цветущие буйным цветом каштаны; летом все любители пляжного отдыха едут на курорты Лазурного берега; осень во Франции – время фестивалей и праздников; зимой страна преображается, готовясь к Рождеству и Новому году. И, конечно, все 12 месяцев в году путешественники могут насладиться созерцанием удивительных культурных и исторических достопримечательностей, которыми так богата родина Дюма и Наполеона.</p>
  </div>
  <!-- end descr-color -->

  <div class="container--md">
    
  

    <!-- begin items -->
    <div class="items items--shadow">
      {% for i in items %}
      <!-- begin item -->
      <div class="item item--shadow">
        <div class="item__img" style="background-image: url('img/{{ i.img }}');"></div>

        <div class="item__title">{{ i.title }}</div>

        <div class="item__cover">
          <div class="item__cover-title">
            <h3 class="h3--white h3--md">{{ i.title }}</h3>
          </div>

          <div class="item__cover-btn">
            {{ mixins.btn(
              title = 'Подробнее',
              mod = 'btn--white'
            ) }}
          </div>
        </div>
      </div>
      <!-- end item -->
      {% endfor %}
    </div>
    <!-- end items -->

  </div>
</section>
<!-- end section -->