<!-- begin section -->
<section class="section section--content">
  <div class="section__title">
    <h2 class="h2 h2--md">ГРУППОВЫЕ ЭКСКУРСИИ ПО ПАРИЖУ И РЕГИОНАМ</h2>
  </div>

  <!-- begin table -->
  <div class="table">
    <div class="text--italic text--center">
      <p>(Стоимости нетто/c человека/в мини-группе/русскоязычный гид)</p>
      <p>Входные билеты включены в стоимость!</p>
    </div>

    <table border="1" cellspacing="0" cellpadding="0" align="center" style="border: 1px solid #ffffff; width: 800px; background-color: #eaeaea;">
        <tr>
          <td width="218">
            <p><b>Обзорная экскурсия по Парижу</b></p>
            <p><b><img src="http://vgs-company.com/published/publicdata/A1475891/attachments/SC/images/135-0735o.png" width="150" height="120" /></b></p>
          </td>
          <td valign="bottom" style="width: 150px;">
            <p><span style="color: #003366;"><strong>В  мини группе: Вт (11.00), Чт, Сб с 09.00</strong></span><br /><span style="color: #003366;"><strong> Продолжительность: 3 часа</strong></span><br /> Экскурсия проводится на мини-автобусе. <br /> Начало экскурсии от отеля в Париже. Возвращение в отель. В стоимость включено водитель-гид или водитель и гид. <br /> Остановки для фото не предусмотрены.</p>
          </td>
          <td width="139" nowrap="nowrap" valign="bottom" style="text-align: center;"><strong>53,00 €</strong></td>
        </tr>
        <tr>
          <td width="218">
            <p><b>Обзорная экскурсия по Парижу + Монмартр  (4 часа)</b></p>
            <p><b><img src="http://vgs-company.com/published/publicdata/A1475891/attachments/SC/images/136-01.png" width="150" height="120" /> </b></p>
          </td>
          <td width="352" valign="bottom">
            <p><strong><span style="color: #003366;">Сб. 09.00</span></strong></p>
            <p>Начало экскурсии от отеля в Париже. В течении первой части экскурсии Вы посетите все достопримечательности Парижа</p>
            <p>Так же Вы подниметесь на самую высокую точку Парижа Монмартр, где сможете полюбоваться на Париж с высоты 130 метров над уровнем моря.<br /> Экскурсия заканчивается в отеле.</p>
          </td>
          <td width="139" nowrap="nowrap" valign="bottom">
            <p style="text-align: center;"><strong>70,00 €</strong></p>
          </td>
        </tr>
        <tr>
          <td width="218">
            <p><b>Обзорная экскурсия по Парижу + прогулка на кораблике  (4 часа, билеты на кораблик в стоимости) </b></p>
            <p><b><img src="http://vgs-company.com/published/publicdata/A1475891/attachments/SC/images/z-4850.jpg" width="150" height="120" /></b></p>
          </td>
          <td width="352" valign="bottom">
            <p><span style="color: #003366;"><strong>Вт – 11.00, Чт – 09.00</strong></span> <br /> Начало экскурсии от  отеля. В первой части экскурсии – осмотр основных достопримечательностей Парижа. В конце экскурсии Вас привезут на причал, где Вы подниметесь на кораблик и с помощью аудио гида на русском языке посмотреть на Париж с палубы речного кораблика.<br /> Экскурсия заканчивается на причале.</p>
          </td>
          <td width="139" nowrap="nowrap" valign="bottom" style="text-align: center;">
            <p><strong>70,00 €</strong></p>
          </td>
        </tr>
        <tr>
          <td width="218">
            <p><b>Обзорная экскурсия по Парижу  + обед на Эйфелевой башне (обед в стоимости экскурсии)</b></p>
            <p><b><img src="http://vgs-company.com/published/publicdata/A1475891/attachments/SC/images/136-07.png" width="150" height="120" /></b></p>
          </td>
          <td width="352" valign="bottom">
            <p><strong><span style="color: #003366;">Чт, Сб – 09.00</span></strong></p>
            <p>Начало экскурсии от отеля. В первой части экскурсии осмотр основных достопримечательностей Парижа. После завершения осмотра  Вас ждет обед на Эйфелевой башни в ресторане "58 Tour Eiffel" на первой платформе.<br /> Экскурсия заканчивается у Эйфелевой башни.</p>
          </td>
          <td width="139" nowrap="nowrap" valign="bottom" style="text-align: center;">
            <p><strong>140,00 €</strong></p>
          </td>
        </tr>
        <tr>
          <td width="218">
            <p><b>Обзорная экскурсия по Парижу  + обед на Эйфелевой башне + Версаль (в стоимости билеты на 1-ю и 2-ю платформу Эйфелевой Башни, билеты в Версаль, аудио-гид на русском языке, трансфер из Версаля до отеля) </b></p>
            <p><img src="http://vgs-company.com/published/publicdata/A1475891/attachments/SC/images/136-06.png" width="150" height="120" /></p>
          </td>
          <td width="352" valign="bottom">
            <p><span style="color: #003366;"><strong>Чт, Сб -09.00</strong></span></p>
            <p>Ваша экскурсия начинается от Вашего отеля в Париже. Наш водитель-гид покажет Вам Париж во всей красе. Вы увидите все достопримечательности романтического города с комментариями нашего гида. Экскурсия закончится возле Эйфелевой башни, где Вас ждет обед на первой платформе башни в ресторане « 58 Tour Eiffel ». В обед  включены закуски, основное блюдо, десерт, вода,  бокал вина.</p>
            <p>После романтического обеда с видом на Париж Вы отправитесь в королевскую резиденцию Версаль, выстроенный по велению короля Франции Людовика XIV «Короля Солнца». Аудиогиды на русском языке смогут дополнить картину правления этого великого короля Франции. После осмотра апартаментов короля Вы сможете прогуляться по садам разбитыми во французском стиле Андрэ Ле Нотром.</p>
          </td>
          <td width="139" valign="bottom">
            <p style="text-align: center;"><strong>160  € реб.(до 11 лет)/</strong><br /><strong> 180  € взросл.</strong></p>
          </td>
        </tr>
        <tr>
          <td width="218">
            <p><b>Вечерний Париж  (3 часа)</b></p>
            <p><b><img src="http://vgs-company.com/published/publicdata/A1475891/attachments/SC/images/136-08.png" width="150" height="120" /></b></p>
          </td>
          <td width="352" valign="bottom">
            <p><span style="color: #003366;"><strong>Вт, Чт – 21.00</strong></span></p>
            <p>Экскурсия начинается от Вашего отеля в Париже и проходит в рамках обзорной экскурсии. В течении экскурсии Вы посетите все достопримечательности Парижа в иллюминационном свете. Вы увидите Оперу Гарнье, Вандомскую площадь, площадь Согласия, подниметесь по Елисейским полям к Триумфальной арке, побываете на площади Трокадеро, проедите по левому берегу к мосту Александра III и дому Инвалидов. Побываете во дворе Лувра, площади Бастилии, Вагезской площади, на острове Сите около Собора Парижской Богоматери и в Латинском квартале.</p>
          </td>
          <td width="139" nowrap="nowrap" valign="bottom">
            <p style="text-align: center;"><strong>70,00 €</strong></p>
          </td>
        </tr>
        <tr>
          <td width="218" valign="bottom">
            <p><b>Круиз по Сене + Ужин на Эйфелевой башне +  Мулен Руж </b></p>
            <p><b><img src="http://vgs-company.com/published/publicdata/A1475891/attachments/SC/images/z-4851.JPG" width="150" height="120" /></b></p>
          </td>
          <td width="352" valign="bottom">
            <p><span style="color: #003366;"><strong>Ср, Вск – 16.15 </strong></span></p>
            <p>Вечер начинается с того, что наш представитель забирает Вас из Вашего отеля в Париже. Вас привезут к причалу откуда отправляются кораблики по Сене. На борту корабля Вам предлагаются аудиогиды на русском языке. В течении всей прогулки Вам расскажут про достопримечательности Парижа и сможете полюбоваться вечерним городом.</p>
            <p>После прогулки на кораблике Вас ждет ужин на Эйфелевой башне в ресторане «58 Tour Eiffel».   В меню включено:</p>
            <p>Бокал шампанского, закуска, основное блюдо, десерт, кофе, минеральная вода и вино.</p>
            <p>После прекрасного ужина с видом на весь Париж, Вы посетите феерическое представление в кабаре «Мулен Руж».</p>
          </td>
          <td width="139" nowrap="nowrap" valign="bottom">
            <p style="text-align: center;"><strong>330,00 €</strong></p>
          </td>
        </tr>
        <tr>
          <td width="218">
            <p><b>Прогулка по Монмартру </b></p>
            <p><b>(2-2,5 часа)</b></p>
            <p><b><img src="http://vgs-company.com/published/publicdata/A1475891/attachments/SC/images/136-011.png" width="150" height="120" /></b></p>
          </td>
          <td width="352" valign="bottom">
            <p><span style="color: #003366;"><strong>Время проведения: Вт, Вск – 15.30</strong></span></p>
            <p>Экскурсия начинается от кабаре "Мулен Руж". Вы постепенно будите подниматься на самую высокую точку в Париже - Монмартр. В течении экскурсии Вы посетите самые интересные места этого квартала, прогуляетесь по маленьким улочкам, побываете на площади художников, посетите базилику Сакре Кер и конечно же посмотрите на Париж с высоты 130 метров над уровнем моря.</p>
            <p>Начало экскурсии от кабаре "Мулен Руж", остановка метро «BLANCHE», 2 линия. Окончание экскурсии у базилики Сакре Кер.</p>
          </td>
          <td width="139" nowrap="nowrap" valign="bottom">
            <p style="text-align: center;"><strong>35,00 €</strong></p>
          </td>
        </tr>
        <tr>
          <td width="218">
            <p><b>Музей Лувр (2-2,5 часа)</b></p>
            <p><b><img src="http://vgs-company.com/published/publicdata/A1475891/attachments/SC/images/136-09.png" width="150" height="120" /></b></p>
          </td>
          <td width="352" valign="bottom">
            <p><span style="color: #003366;"><strong>Ср 18.00, Пт  15.00</strong></span></p>
            <p>Начало экскурсии от памятника Людовику XIV, во дворе Лувра, остановка метро линия 1 и линия 7 (Palais Royal- Musee du Louvre). Входной билет включен в стоимость.</p>
          </td>
          <td width="139" nowrap="nowrap" valign="bottom">
            <p style="text-align: center;"><strong>70,00 €</strong></p>
          </td>
        </tr>
        <tr>
          <td width="218">
            <p><b>Исторический Париж </b></p>
            <p><b>(2-2,5 часа)</b></p>
            <p><b><img src="http://vgs-company.com/published/publicdata/A1475891/attachments/SC/images/z-4852.jpg" width="150" height="120" /></b></p>
          </td>
          <td width="352" valign="bottom">
            <p><span style="color: #003366;"><strong>Пн, Чт – 15.30</strong></span></p>
            <p>Начало экскурсии от памятника Генриху IV, на «Новом мосту», остановка метро "PONT NEUF", 7 линия</p>
            <p>Пешая экскурсия по исторической части Парижа начинается с самого старого моста Парижа « Нового моста », построенного при правлении Генриха IV. Переходя на левый берег и поднимаясь по узеньким улочкам Латинского квартала среди домов XVII-XVIII веков, которые скрывают за собой бульвар Сан Жермен, церковь Сан Жермен де Пре с колокольней X века, церковь Сан Сульпис, Пантеон и, конечно же, самый красивый парк в Париже - Люксембургский сад. В конце экскурсии Вы посетите колыбель Парижа - остров Сите, на котором находится Собор Парижской Богоматери.</p>
          </td>
          <td width="139" nowrap="nowrap" valign="bottom">
            <p style="text-align: center;"><strong>35,00 €</strong></p>
          </td>
        </tr>
        <tr>
          <td width="710" nowrap="nowrap" colspan="3">
            <p align="center"><span style="color: #003366; font-size: medium;"><b>ПРЕДМЕСТЬЕ ПАРИЖА</b></span><b></b></p>
          </td>
        </tr>
        <tr>
          <td width="218">
            <p><b>Дворец Версаль (4 часа)</b></p>
            <p><b><img src="http://vgs-company.com/published/publicdata/A1475891/attachments/SC/images/136-015.png" width="150" height="120" /></b></p>
          </td>
          <td width="352" valign="bottom">
            <p><span style="color: #003366;"><strong>Ср – 14.00, Чт – 10.00</strong></span></p>
            <p>Начало экскурсии от отеля. Возвращение в отель. Экскурсия возможна в двух форматах: с аудиогидом или с экскурсоводом. Вы осмотрите внутреннее убранство дворца, а также Вам будет предоставлено свободное время для прогулке по парку. <br /> Входные билеты включены в стоимость.</p>
          </td>
          <td width="139" nowrap="nowrap" valign="bottom">
            <p style="text-align: center;"><strong>95,00€ (аудиогид)/ 140,00 € (экскурсовод)</strong></p>
          </td>
        </tr>
        <tr>
          <td width="218">
            <p><b>Дворец Фонтенбло (5 часов)</b></p>
            <p><b><img src="http://vgs-company.com/published/publicdata/A1475891/attachments/SC/images/136-021.png" width="150" height="120" /></b></p>
          </td>
          <td width="352" valign="bottom">
            <p><span style="color: #003366;"><strong>Пн, Чт – 14.00</strong></span></p>
            <p>Экскурсия во дворец Фонтенбло начинается от Вашего отеля в Париже. И уже через 1 час окажетесь во дворце Фонтенбло, который расположен к югу от Парижа, этот дворец действительно можно назвать королевским.</p>
            <p>После осмотра внутреннего убранства дворца, вы сможете насладиться прогулкой по паркам.<br /> Входные билеты включены в стоимость.</p>
          </td>
          <td width="139" nowrap="nowrap" valign="bottom">
            <p style="text-align: center;"><strong>95,00€ (аудиогид)/ 140,00 € (экскурсовод)</strong></p>
          </td>
        </tr>
        <tr>
          <td width="218">
            <p><b>Дворец Во-Ле-Виконт при свечах (5 часов) </b></p>
            <p><img src="http://vgs-company.com/published/publicdata/A1475891/attachments/SC/images/z-4853.jpg" width="150" height="120" /></p>
          </td>
          <td width="352" valign="bottom">
            <p><span style="color: #003366;"><strong>Сб – 19.00</strong></span><br /> Входные билеты включены в стоимость.</p>
          </td>
          <td width="139" nowrap="nowrap" valign="bottom">
            <p style="text-align: center;"><strong>140,00 €</strong></p>
          </td>
        </tr>
        <tr>
          <td width="218">
            <p><b>Замок Шантийи (5 часов)</b></p>
            <p><b><img src="http://vgs-company.com/published/publicdata/A1475891/attachments/SC/images/136-05.png" width="150" height="120" /></b></p>
          </td>
          <td width="352" valign="bottom">
            <p><span style="color: #003366;"><strong>Пт – 14.00</strong></span></p>
            <p>Эта увлекательная пяти часовая экскурсия позволит вам посетить один из самых красивых дворцов Франции. Бывшая резиденция принца Конде и последнего его обитателя герцога Омальского. Внутри элегантного дворца вы сможете увидеть апартаменты постояльцев, библиотеку, в которой находятся старые книги и манускрипты. Побываете в зале где собрана потрясающая коллекция живописи, второй Лувр как называют его сами французы. После замка вы прогуляетесь по парку Шантийи.</p>
            <p>Начало экскурсии от отеля. Возвращение в отель.<br /> Время проведения: суббота в 09.00.<br /> Входные билеты включены в стоимость.</p>
          </td>
          <td width="139" nowrap="nowrap" valign="bottom">
            <p style="text-align: center;"><strong>140,00 € (экскурсовод)</strong></p>
          </td>
        </tr>
        <tr>
          <td width="218">
            <p><b>Живерни, Дом Клода Моне</b></p>
            <p><b><img src="http://vgs-company.com/published/publicdata/A1475891/attachments/SC/images/136-025.png" width="150" height="120" /></b></p>
          </td>
          <td width="352" valign="bottom">
            <p><span style="color: #003366;"><strong>Сб – 14.00</strong></span></p>
            <p>В 80 километрах от Парижа в регионе Нормандия, находится деревушка Живерни, где с 1883 года до 1926 года проживал и писал свои картины Клод Моне. Потрясающий сад Клода Моне разбит при входе в дом знаменитого художника. Вы увидите пруд со знаменитыми кувшинками. Именно здесь рисовал великий художник свои известные кувшинки, которые сейчас находятся в музее Оранжери.</p>
            <p>Начало экскурсии от отеля. Возвращение в отель.<br /> Продолжительность:  5 часа.</p>
          </td>
          <td width="139" nowrap="nowrap" valign="bottom">
            <p style="text-align: center;"><strong>140,00 €</strong></p>
          </td>
        </tr>
        <tr>
          <td width="710" nowrap="nowrap" colspan="3">
            <p style="text-align: center;"><span style="color: #003366; font-size: medium;"><b>РЕГИОНЫ ФРАНЦИИ</b></span></p>
          </td>
        </tr>
        <tr>
          <td width="218">
            <p><b>Мон- Сен-Мишель (11-12 часов) </b></p>
            <p><b><img src="http://vgs-company.com/published/publicdata/A1475891/attachments/SC/images/z-4854.jpg" width="150" height="120" /></b></p>
          </td>
          <td width="352" valign="bottom">
            <p><span style="color: #003366;"><strong>Вск – 08.00</strong></span></p>
            <p>Экскурсия на остров Мон-Сен-Мишель начинается от Вашего отеля в Париже. В первой части вас ждет дорога по региону Нормандию, которая займет три с половиной часа. Преодолев это расстояние в сопровождении рассказа нашего гида, вы окажитесь на границе региона Нормандии и Бретань, где и находится одно из самых посещаемых мест во Франции, гора Святого Михаила. В глубине красивейшей бухты, живущей в ритме приливов и отливов, на острове величественно возвышается бенедиктинское аббатство. Вы сможете посетить аббатство, важнейший центр паломничества христиан, а наш гид расскажет об истории этого места.</p>
          </td>
          <td width="139" nowrap="nowrap" valign="bottom">
            <p style="text-align: center;"><strong>195,00 €</strong></p>
          </td>
        </tr>
        <tr>
          <td width="218">
            <p><b>Замки Луары (10-11 часов) </b></p>
            <p><b><img src="http://vgs-company.com/published/publicdata/A1475891/attachments/SC/images/z-4855.jpg" width="150" height="120" /></b></p>
          </td>
          <td width="352" valign="bottom">
            <p><span style="color: #003366;"><strong>Пн, Чт – 08.00</strong></span></p>
            <p>Однодневная экскурсия в долину Луары, которая позволит вам, познакомится с жизнью королей Франции и увидеть  воочию, красивейшие в архитектурном смысле слова королевские замки, которые расположены не далеко от берегов самой протяжённой реки Франции, Луары. Вы посетите 3 замка: Амбуаз, Шенонсо и Шамбор (осматривается снаружи)</p>
            <p>Начало экскурсии от  отеля. Возвращение в отель.</p>
            <p>Входные билеты в 2 замка включены.</p>
          </td>
          <td width="139" nowrap="nowrap" valign="bottom">
            <p style="text-align: center;"><strong>190,00 €</strong></p>
          </td>
        </tr>
        <tr>
          <td width="218">
            <p><b>Нормандия (10-11 часов)</b></p>
            <p><b><img src="http://vgs-company.com/published/publicdata/A1475891/attachments/SC/images/z-4856.jpg" width="150" height="120" /></b></p>
          </td>
          <td width="352" valign="bottom">
            <p><span style="color: #003366;"><strong>Ср, Вск – 08.00</strong></span></p>
            <p>Экскурсия в регион Нормандия начинается от Вашего отеля и длится весь день. Первым вы посетите рыбацкий город Этрета.  С нашим водителем и опытным гидом Вы легко заберетесь на высокий холм, возвышающийся над Этрета, откуда откроется потрясающий вид на скалы, вырастающие из океана и ставшие визитной карточкой этой местности.  После этого Вы отправитесь в город Онфлер – один из самых старых портов севера Франции.</p>
            <p>Помимо живописных пейзажей, регион Нормандия славится своими напитками, которые Вы сможете продегустировать здесь же. Кальвадос и сидр, яблочные соки и ликеры помогут Вам еще больше полюбить этот регион. В завершении нашей экскурсии Вы посетите еще два города: Тровиль и Довиль. Первый известен своим рыбным рынком, где у Вас появится возможность продегустировать морепродукты и нормандские устрицы, которые так славят регион. В фешенебельном Довиле, который так же называют "Северное Монте-Карло" совершится наша последняя остановка, для того чтобы взглянуть на роскошные пляжи, центр города и, конечно же, самое популярное казино на севере Франции.</p>
            <p>Начало экскурсии от отеля. Возвращение в отель.</p>
          </td>
          <td width="139" nowrap="nowrap" valign="bottom">
            <p style="text-align: center;"><strong>195,00 €</strong></p>
          </td>
        </tr>
        <tr>
          <td width="218">
            <p><b>Шампань  (10 часов. В стоимости входные билеты в погреба и дегустация 1 фужера шампанского в погребе)</b></p>
            <p><b><img src="http://vgs-company.com/published/publicdata/A1475891/attachments/SC/images/z-4857.jpg" width="150" height="120" /></b></p>
          </td>
          <td width="352" valign="bottom">
            <p><span style="color: #003366;"><strong>Пт – 08.00</strong></span></p>
            <p>Экскурсия в регион Шампань  позволит вам увидеть важнейший исторический регион Франции.  В первой части экскурсии вы посетите столицу региона Шампань – Реймс, визитная карточка которого – собор, где короновались все французские короли.  Позже вас ждет дегустация в одном из домов шампанского. ("Mumm" или "Veuve Clicquot"). Во второй части экскурсии вы побываете в городе Эперне, где вы прогуляетесь по авеню Шампанского,  а также посетите погреба домов "Moet et Chandon" или "Mercier".</p>
            <p>Начало экскурсии от отеля. Возвращение в отель.</p>
          </td>
          <td width="139" nowrap="nowrap" valign="bottom">
            <p style="text-align: center;"><strong>195,00 €</strong></p>
          </td>
        </tr>
        <tr>
          <td width="218">
            <p><b>Парк - сафари Туари  (5 часов)</b></p>
            <p><b><img src="http://vgs-company.com/published/publicdata/A1475891/attachments/SC/images/136-018.png" width="150" height="120" /></b></p>
          </td>
          <td width="352" valign="bottom">
            <p><span style="color: #003366;"><strong>Вт, Пт – 14.00</strong></span></p>
            <p>Всего в часе езды на запад от Парижа расположен  уникальный зоопарк Туари, в котором насчитывается несколько десятков видов животных. Парк делится на две части. Первая часть это сафари-парк, где вы можете видеть разнообразных животных из окон автомобіля.</p>
            <p>Вторая часть зоопарка предназначена для пешей прогулки. Во время прогулки по стеклянному тунелю вы сможете увидеть львов и тигров. А совсем рядом есть ферма с домашними лошадьми и осликами, которых можно погладить или покормить.</p>
            <p>Начало экскурсии от отеля. Возвращение в отель.<br /> Входные билеты в парк включены</p>
          </td>
          <td width="139" nowrap="nowrap" valign="bottom">
            <p style="text-align: center;"><strong>125,00 € (взрослый)/115,00 € (ребенок до 11 лет)</strong></p>
          </td>
        </tr>
    </table>

  </div>
  <!-- end table -->
</section>
<!-- end section -->