<!-- begin section -->
<section class="section section--content">
  <div class="section__title">
    <h2 class="h2 h2--md">ОТЕЛИ</h2>
  </div>

  <!-- begin map -->
  <div class="map">
    <iframe width="1158" height="450" src="https://www.google.com/maps/d/embed?mid=zqO2NBLtrF-0.knTtG5_7AyGk"></iframe>
    
    <h3 class="h3 h3--gray">ВЫБЕРИТЕ РЕГИОН:</h3>
    <div class="map__nav">
      <table style="border: 0px solid #e5e6e1; width: 1170px; background-image: url('http://vgs-company.com/published/publicdata/A1475891/attachments/SC/images/01-line48.png'); background-color: #e5e6e1;" align="center" border="0">
        <tbody>
          <tr>
            <td style="width: 300px;"><span style="color: #003366;"><strong></strong></span></td>
            <td><span style="color: #003366;"><strong><br><span style="font-size: small;">Нор-Па-де-Кале</span></strong></span><br><span style="color: #003366; font-size: small;"><strong>Пикардия</strong></span><br><span style="color: #003366; font-size: small;"><strong>Эльзас</strong></span><br><span style="color: #003366; font-size: small;"><strong>Шампань-Арденны</strong></span><br><span style="color: #003366; font-size: small;"><strong>Лотарингия</strong></span><br><span style="color: #003366; font-size: small;"><strong>Бургундия</strong></span><br><span style="color: #003366; font-size: small;"><strong>Франш-Конте</strong></span><br><span style="color: #003366;"><strong><span style="color: #c2081c; font-size: small;"><a href="http://vgs-company.com/auxpage_oteli-v-regione-il-de-frans/"><span style="color: #c2081c;">Иль де Франс</span></a></span><br></strong></span><br><br></td>
            <td style="width: 30px;"><a href="http://frenchtrip.ru/regions/#1" rollapp-href="http://frenchtrip.ru/regions/#1"></a></td>
            <td><span style="color: #003366; font-size: small;"><strong>Центральный регион</strong></span><br><span style="color: #003366; font-size: small;"><strong>Нормандия</strong></span><br><span style="color: #003366; font-size: small;"><strong>Бретань</strong></span><br><span style="color: #003366; font-size: small;"><strong>Пэи-де-ла-Луар</strong></span><br><span style="color: #003366; font-size: small;"><strong>Аквитания</strong></span><br><span style="color: #003366; font-size: small;"><strong>Лимузен</strong></span><br><span style="color: #003366; font-size: small;"><strong>Пуанту-Шаранта</strong></span><br><span style="color: #003366;"><strong><span style="font-size: small;">Лангедок-Русильон</span><br><br></strong></span></td>
            <td style="width: 30px;"><a href="http://frenchtrip.ru/regions/#13" rollapp-href="http://frenchtrip.ru/regions/#13"></a></td>
            <td><span style="color: #c2081c; font-size: small;"><a href="http://vgs-company.com/auxpage_rhone-alpes/"><span style="color: #c2081c;"><strong>Овернь-</strong>Рона-Альпы</span></a></span><br><span style="color: #c2081c; font-size: small;"><a href="http://vgs-company.com/auxpage_oteli-na-ostrove-korsika/"><span style="color: #c2081c;">Корсика</span></a></span><br><span style="color: #003366; font-size: small;"><strong>Юг Пиренеи</strong></span><br><span style="color: #c2081c; font-size: small; font-family: arial,helvetica,sans-serif;"><a href="http://vgs-company.com/auxpage_oteli-v-regione-provans/"><span style="color: #c2081c;">Прованс</span></a></span><br><span style="color: #003366;"><strong><a href="http://vgs-company.com/auxpage_oteli-v-regione-lazurnyj-bereg/"><span style="font-size: small; color: #c2081c;">Лазурный берег</span></a><br></strong></span><br><br><br><br><a href="http://frenchtrip.ru/regions/#13" rollapp-href="http://frenchtrip.ru/regions/#13"></a></td>
            <td style="width: 300px;"><span style="color: #003366;"><strong></strong></span></td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>
  <!-- end map -->

  
</section>
<!-- end section -->