{%set
tours = [
  {
    img: 'z-4838.png',
    title: 'УИК-ЭНД В ПАРИЖЕ',
    text: 'Даты тура: актуально круглый год. Продолжительность 3 ночи / 4 дня от 380 евро с человека'
  },
  {
    img: 'z-4839.png',
    title: 'ПАРИЖ + НОРМАНДИЯ',
    text: 'Даты тура: актуально круглый год. Продолжительность 5 ночей / 6 дней от 790 евро с человека'
  },
  {
    img: 'z-4840.png',
    title: 'ШОППИНГ - ТУР В НИЦЦА – САН РЕМО',
    text: 'Даты тура: актуально круглый год. Продолжительность 5 ночей / 6 дней от 590 евро с человека'
  },
  {
    img: 'z-4841.png',
    title: 'БЛИЦ НИЦЦА',
    text: 'Даты тура: Октябрь - Март. Заезды: Суббота Продолжительность 4 ночи / 5 дней от 490 евро с человека'
  },
  {
    img: 'z-4842.png',
    title: 'ГОРНОЛЫЖНЫЙ ТУР ВАЛЬ-СЕНИ',
    text: 'Даты тура: 22.12.2018 – 13.04.2019. Продолжительность 7 ночей / 8 дней от 987 евро с человека'
  },
  {
    img: 'z-4843.png',
    title: 'ПАРИЖ + ЛАЗУРНЫЙ БЕРЕГ',
    text: 'Даты тура: 26.06.2019  - 06.07.2019.  Продолжительность 10 ночей / 11 дней от 940 евро с человека'
  },
  {
    img: 'z-4844.png',
    title: 'НЕИЗВЕСТНАЯ СТРАНА БАСКОВ',
    text: 'Даты тура: актуально круглый год. Продолжительность 5 ночей / 6 дней от 1410 евро с человека'
  },
  {
    img: 'z-4845.png',
    title: 'ГАСТРОНОМИЧЕСКИЙ ТУР В РЕГИОН БОРДО',
    text: 'Даты тура: актуально круглый год. Продолжительность 4 ночи / 5 дней от 910 евро с человека'
  },
  {
    img: 'z-4846.png',
    title: 'ТУР «ДЕТСКИЙ ФЕЙЕРВЕРК»',
    text: 'Даты тура: актуально круглый год. Продолжительность 6 ночей/ 7 дней от 810 евро с человека'
  }
]
%}

<!-- begin content__middle -->
<div class="content__middle">
  <div class="container--md">
    <h2 class="h2">Туры</h2>
    <hr class="hr">

    <!-- begin items -->
    <div class="items">
      {% for i in tours %}
      <!-- begin item -->
      <a href="#" class="item item--tour">
        <span class="item__img" style="background-image: url('img/{{ i.img  }}');"></span>

        <span class="item__meta">
          <span class="item__title">{{ i.title }}</span>
          <span class="item__text">
            {{ i.text }}
          </span>
        </span>
      </a>
      <!-- end item -->
      {% endfor %}
    </div>
    <!-- end items -->
  </div>
</div>
<!-- end content__middle -->