.slider
  $this: &
  &.has-no-transition
    .slick-track
      transition:  0s !important
  &__wrap
    position: relative
    font-size: 0
  &__prev,
  &__next
    position: absolute
    top: 50%
    transform: translate(0, -50%)
    width: 40px
    height: 80px
    background-color: rgba(#000, .7)
    +tr(transform .3s, visibility .3s, opacity .3s)
    cursor: pointer
    +before
      +icon-arrow(24, 24, 8, #fff, 45)
      display: inline-block
      position: absolute
      top: 28px
      left: 10px
  &__prev
    left: 0
  &__next
    right: 0
    transform: translate(0, -50%) rotate(180deg)
  &__fullscreen
    position: absolute
    top: 10px
    right: 10px
    +image('full.svg')
    background-repeat: none
    display: inline-block
    width: 24px
    height: 24px
    background-color: rgba(#000, .7)
    border-radius: 3px
    +tr(transform .3s)
    cursor: pointer
  &__autoplay
    @extend #{$this}__fullscreen
    right: auto
    left: 10px
    +image('pau.svg')


  &--hero
    .slick-dots
      bottom: 20px
      li
        &.slick-active
          button
            background-color: #fff
      button
        background-color: #ccc
        border-radius: 50%
        &::before
          display: none
        
    &__wrap
      overflow: hidden
      +hover
        #{$this}__prev
          transform: translate(0, -50%)
        #{$this}__next
          transform: translate(0, -50%) rotate(180deg)
        #{$this}__autoplay,
        #{$this}__fullscreen
          transform: translate(0, 0)

      #{$this}__prev
        transform: translate(-100%, -50%)
      #{$this}__next
        transform: translate(100%, -50%) rotate(180deg)
      #{$this}__autoplay,
      #{$this}__fullscreen
        transform: translate(0, -150%)

  &--partners
    &__wrap
      margin-bottom: 35px
      margin-left: -15px
      margin-right: -15px
      .slick-track
        margin-left: -8px
        margin-right: -8px
      .slick-slide
        margin-right: 8px
        margin-left: 8px
      .slick-list
        padding-bottom: 20px
      .slide
        box-shadow: 0px 10px 5px rgba(#000, .2)
        &__img
          display: block
          height: auto
          // height: 178px
          // padding: 10px 10px 20px
          font-size: 0
          // +image('partners/carousel_polaroid.png')
          background-repeat: no-repeat
          background-position: 50% 50%
          background-size: auto
          text-align: center
          img
            width: 100%
            max-width: 100%
            display: inline-block
            // height: 127px
            // width: 201px
            // margin-top: 14px
      #{$this}__dots
        // position: absolute
        text-align: center
        padding-top: 15px
        padding-bottom: 15px
        position: absolute
        top: 100%
        left: 0
        width: 100%
        height: 35px
        li
          display: inline-block
          margin-left: 4px
          margin-left: 4px
          &.slick-active
            button
              background-color: #565656
        button
          +hidetext
          display: inline-block
          width: 6px
          height: 6px
          border-radius: 50%
          background-color: #797979
      #{$this}__prev,
      #{$this}__next
        background-color: transparent
        transform: translate(0, 0)
        top: 0
        +before
          border-color: #5b5b5b
          width: 16px
          height: 16px
          border-width: 5px
          top: 32px
      #{$this}__prev
        left: -40px
      #{$this}__next
        right: -40px
        +rotate(180)

  &--gallery
    &__wrap
      max-width: 1000px
      margin-left: auto
      margin-right: auto
      margin-top: 20px
      margin-bottom: 50px
      +hover
        #{$this}__prev,
        #{$this}__next
          visibility: visible
          opacity: 1
      #{$this}__prev,
      #{$this}__next
        transform: translate(0, 0)
        background-color: transparent
        top: auto
        bottom: 20px
        width: 30px
        height: 30px
        +image('arrows.png')
        background-repeat: no-repeat
        visibility: hidden
        opacity: 0
        +tr(visibility .3s, opacity .3s)
        +before
          display: none
      #{$this}__prev
        left: auto
        right: 60px
        background-position: 0 0
      #{$this}__next
        // +rotate(180)
        right: 20px
        background-position: -30px 0


      #{$this}__dots
        position: absolute
        top: calc(100% + 10px)
        left: 0
        li
          display: inline-block
          +notlast
            margin-right: 5px
          &.slick-active
            button
              border: 1px solid  #036
        button
          display: block
          width: 40px
          height: 30px
          position: relative
          +hover
            opacity: .5
          img
            +coverdiv
            object-fit: cover

  &--sm
    &__wrap
      width: 650px
      margin-left: auto
      margin-right: auto
      #{$this}__prev,
      #{$this}__next
        width: 26px
        height: 26px
        background-color: transparent
        +image('bg_direction_nav.png')
        background-repeat: no-repeat
        +before
          display: none
        &.slick-disabled
          visibility: hidden
          opacity: 0
      #{$this}__dots
        position: absolute
        bottom: 10px
        text-align: center
        width: 100%
        left: 0
        li
          display: inline-block
          margin-left: 5px
          margin-right: 5px
          &.slick-active
            button
              background-color: #000
        button
          display: block
          width: 11px
          height: 11px
          border-radius: 50%
          background-color: rgba(#000, .5)
          box-shadow: inset 0 0 3px rgba(0,0,0,0.3)
          cursor: pointer
          +hidetext
      #{$this}__next
        transform: translate(0, -50%)
        background-position: -30px 0
        right: 10px
      #{$this}__prev
        background-position: 0 0
        left: 10px
      
    .slide
      &__img
        height: 360px

.slide
  &__img
    height: 435px
    +cover